<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy-sad Classifier</title>
</head>
<body>
    <h1>Happy Sad Classifier</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="imageFile">
        <button type="submit">Predict</button>
    </form>
    (% if prediction %)
        <p >The Image is {{prediction}} </p>
    (% endif %)
</body>
</html>